* {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}


body {
    background: black;
}

.wrapper {   
    margin: 0 auto;
    width: 1020px;
}

.header {   
    margin-left: auto;
    margin-right: auto;
    height: 90px;
    background: #2d303a;
    display: flex;
}

.logo,
.header h1 {
    line-height: 6px;
    color: #ffffff;
    font-weight: 600;
    letter-spacing: -0.2px;
}
h1 {
    font-size: 25px;
    padding-top: 42px;
    padding-left: 40px;
    font-family: "Lato";
}

.navigation {
    display: flex; 
    margin-top: 39px; 
    margin-right: 39px;   
}

li {
    margin-left: 11.5px;
    margin-right: 2px;
    list-style-type: none;
    letter-spacing: -0.4px;
}

.header nav a {
    font-size: 12px;
    text-decoration: none;
    color: #ffffff;
    font-family: "Lato";
}

.icon {
    font-size: 22px;
    color: #f06c64;
    padding-top: 31px;
}

.header__buttons {
    margin-left: auto;
    margin-right: 0;
}

.navigation-active {
    color: #f06c64 !important;
}

.dot-between-word {
    color: white;
    opacity: 0.2;
}

.header-block-colored {
    height: 5px;
    background-color: #323746;
}

/** slider **/

.iphone {
    height: 594px;
    background-color: #f06c64;
}

.slider-iphone {
    display: flex;
}

.slider-arrow-left {
    opacity: 0.2;
    padding-left: 42px;
    padding-top: 281px;
}

.slider-iphone-left {
    padding-top: 53px;
    padding-left: 54px;
    position: absolute;
}

.shadow-left{
    padding-top: 53px;
    padding-left: 54px;
}

.slider-iphone-right {
    margin-bottom: 26px;
    margin-left: 190px;
    transform: rotate(90deg);
    z-index: 2;
    position: relative;
}

.shadow-right{
    padding-top: 106px;
    transform: rotate3d(1, 1, 0, 180deg);
    position: absolute;
    margin-left: -267px;
    z-index: 1
}

.slider-arrow-right {
    opacity: 0.2;
    padding-right: 203px;
    padding-top: 232px;
    transform: rotate(180deg);
}

.slider-block-colored {
    height: 5px;
    background-color: #ea676b;   
}
.
slider-arrow-left-link {
    cursor: pointer;
}

/** footer **/

.footer {
    padding: 67px 28px 0px 40px;
    height: 427px;
    background-color: #f2f2f2;
    
}
.footer-content-head {
    font-size: 19px;
    line-height: 15px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;   
    text-align: left;
    letter-spacing: -0.3px;
}

.footer-our-services{
    font-size: 30px;
    line-height: 22px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;   
    text-align: left;
    letter-spacing: 0.3px;
}

.footer-our-services-text{
    padding-top: 26px;
    width: 939px;
    font-size: 19px;
    line-height: 31px;
    color: #767e9e;
    letter-spacing: -0.11px;
    text-align: justify;
}

.footer-service-card {
    display: flex;
    padding-top: 46px;
}
.footer-service-card-two {
    display: flex; 
    padding-top: 35px; 
}

.footer-card-content {
    width: 300px;
    margin-right: 14px;
}

.footer-content-head{
    padding-left: 20px;
}
.footer-content-text{
    padding-left: 20px;
    font-size: 13px;
    line-height: 22px;
    color: #767e9e;
    font-weight: 400;
    margin: 10px 0 0 0;
    text-align: justify;
    
}

.footer-content-logo-img-two,
.footer-content-logo-img-tree{
    margin-left: 8px;
}

.footer-border {
    height: 10px;
    margin: auto;
    width: 1020px;
    background-color: #ffffff;
}