* {
    margin: 0;
	padding: 0;
    border: 0;
    font-size: 100%;
    box-sizing: border-box;
}

body {
    background: grey; 
}

.wrapper {
    margin: 0 40px;
}

.form {
    width: 1020px;
    height: 654px; 
    margin: 0 auto;
    background-color: #f06c64;
    border-bottom: 6px solid #ea676b;
}

p {
    font-family: "Lato";
    text-align: left;
}

.form__title{
    font-size: 30px;
    line-height: 18px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
    padding: 67px 0px 28px;
}

.form__description{
    width: 940px;
    height: 57px;
    font-size: 18px;
    line-height: 30px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 300;
    text-align: left;
}

.layout-2-column{
    display: flex;
    padding-top: 49px;
}

.form__fill-array{
    width: 620px;
    height: 405px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

input {
    width: 620px;
    height: 38px;
    border-radius: 0.3em;
    background-color: #d6564f;
}

textarea {
    width: 100%;
    height: 202px;
    border-radius: 0.5em;
    background-color: #d6564f;
    resize: none;
}

.button-submit{
    height: 38px;
    width: 80px;
    border-radius: 0.5em;
    background-color: #d6564f;
}

.form__fill-contact{
    padding-left: 20px;
}

.contact {
    font-size: 18px;
    line-height: 18px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
    padding-bottom: 9px;
}

.description{
    width: 300px;
    font-size: 12px;
    line-height: 22px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
    text-align: justify; 
    padding-bottom: 20px;
}

.from__filed::placeholder {
    padding-left: 13px;
    font-size: 12px;
    line-height: 22px;
    font-weight: 400;
    color: #f48c8f;
  }

.form-text-area::placeholder{
    font-size: 12px;
    padding-top: 9px;
    letter-spacing: -0.06rem;
  }

.button-submit{
    line-height: 22px;
    font-weight: 400;
    color: #f48c8f;
}

.ico-phone,
.ico-mail,
.ico-address{
    font-size: 12px;
    line-height: 22px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
    text-decoration: none;
    padding-left: 12px;
}

/* Footer  */

.footer{
    height: 76px;
    width: 1020px;
    background-color: #2d303a;
    margin: 0 auto;     
}

.two-column{
   display: flex; 
   justify-content: space-between;
   padding: 21px 0;  
}

.copyright{
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 22px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
} 

.social{
    width: 152px;
    display: flex;
    justify-content: space-between;
}

