* {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    scroll-behavior: smooth;
    transition: all 0.1s;
}

body {
    background: black;
    width: 102vw;
}

.wrapper {   
    margin: 0 auto;
    width: 1020px;
}

/* header */

.header {   
    height: 90px;
    background: #2d303a;
    display: flex;
    max-width: 102vw;
}

.logo,
.header h1 {
    line-height: 6px;
    color: #ffffff;
    font-weight: 600;
    letter-spacing: -0.5px;
}
h1 {
    font-size: 25px;
    padding-top: 42px;
    padding-left: 40px;
    font-family: "Lato";
}

.navigation {
    display: flex; 
    margin-top: 39px; 
    margin-right: 39px;
    width: 373px;
    justify-content: space-between;  
}

li:hover{
    background-color: #45545b;
    border-radius: 100px;
    transition: all .3s;
}

li {
    list-style-type: none;
    letter-spacing: -0.4px;
}

a {
    cursor: pointer;
    font-size: 12px;
    color: #ffffff;
    font-family: "Lato";
}

.icon {
    font-size: 22px;
    color: #f06c64;
    padding-top: 31px;
}

.header__buttons {
    margin-left: auto;
    margin-right: 0;
}

.navigation-active {
    color: #f06c64 !important;
}

.dot-between-word {
    color: white;
    opacity: 0.2;
}

.header-block-colored {
    height: 5px;
    background-color: #323746;
    max-width: 102vw;
}


/** slider **/

.iphone {
    height: 59vw;
    max-width: 102vw;
    max-height: 600px;
    position: relative;
    background-color: #f06c64;
    border-bottom: 5px solid #ea676b; 

    
}

.slider-iphone {
    display: flex;
    max-width: 102vw;
    max-height: 600px;
    
}

.iphone-second-slide-arrow-left,
.slider-arrow-left {
    opacity: 0.2;
    margin: 28vw 0 0 4vw;
}

.slider-iphone-left {
    padding-top: 5vw;
    padding-left: 5vw;
    position: absolute;
    cursor: pointer;
    max-height: 46vw;
    max-width: 22vw;
}

.shadow-left{
    padding-top: 5.3vw;
    padding-left: 5.4vw;
    max-height: 48.3vw;
    max-width: 24vw;
}

.slider-iphone-right {
    left: 37%;
    bottom: 5%;
    transform: rotate(90deg);
    z-index: 2;
    position: relative;
    cursor: pointer;
    max-height: 46vw;
    max-width: 22vw;
}

.shadow-right{
    transform: rotate3d(1, 1, 0, 180deg);
    position: absolute;
    padding-bottom: 7.3vw;
    padding-left: 4.4vw;
    z-index: 1;
    max-height: 48.3vw;
    max-width: 24vw;
}

.slider-arrow-right {
    opacity: 0.2;
    position: absolute;
    margin-top: 27vw;
    right: 4%;
    transform: rotate(180deg);
    z-index: 6;
}

.slider-arrow-left-img-second-slider,
.slider-arrow-right-img-second-slider,
.slider-arrow-left-link {
    cursor: pointer;
}

.slider-arrow-left-img:hover{
    border-radius: 5.0vw;
    background-color: lavender;
    transition: all .5s;
}

.black-background-horizontal,
.black-background{
    position: absolute;
    height: 33.4vw;
    width: 19.0vw;
    z-index: 6;
    cursor: pointer;
}

.black-background{
    margin: 11.8vw 0 0 6.7vw;
}

.black-background-horizontal{
    transform: rotate(90deg);
    margin: 11.5vw 0 0 20.1vw;
}

/* second slide */

.slider-iphone-second-img{
    display: flex;
    margin: 0 0 0 16vw;
    align-items: center;
    width: 90.6vw;
    height: 59.6vw;
}

.iPhone-Vertical-right-shadow,
.iPhone-Vertical-left-shadow{
    width: 15.6vw;
    height: 30.4vw;
} 

.iPhone-Vertical-right,
.iPhone-Vertical-left{
    width: 14.0vw;
    height: 29.0vw;
}

.iPhone-Vertical-left-shadow,
.iPhone-Vertical-left{
    margin-right: -1.6vw;
    z-index: 4;
}

.iPhone-Vertical-right,
.iPhone-Vertical-right-shadow{
    margin-left: -2.6vw;
}

.iPhone-Vertical-right,
.iPhone-Vertical-left{
    position: absolute;
    opacity: 0.5;
    margin-top: -15.4vw;
}

.iphone-vertical-dark{
    z-index: 5;
    height: 41vw;
    width: 20.4vw;
}

.slider-arrow-right-img-second-slider{
    position: absolute;
    opacity: 0.2;
    margin: 28.1vw 0 0 -5.5vw;
    transform: rotate(180deg);
}

/* our-services */

.our-services {
    padding: 6.7vw 2.8vw 0 4vw;
    background-color: #f2f2f2;
    max-width: 94vw;   
}

.our-services-text{
    padding: 2.6vw 0 4.5vw 0;
    max-width: 93.9vw;
    font-size: 19px;
    line-height: 31px;
    color: #767e9e;
    letter-spacing: -0.11px;
    text-align: justify;
}

.title-our-services{
    font-size: 30px;
    line-height: 22px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;   
    text-align: left;
    letter-spacing: 0.3px;
}

.our-service-info-img{
    display: flex;
    padding: 0.4%;
    width: 305px;
    height: 41%;
}

.our-service-3-columns{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    height: 48%;
}

.our-serviceslogo-img{
    max-height: 59px;
    max-width: 59px;
}

.our-services-content-head{
    height: 14px;
    font-size: 19px;
    line-height: 15px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;   
    text-align: left;
    letter-spacing: -0.3px;
}

.our-services-content-text{
    height: 6.5vw;
    font-size: 13px;
    line-height: 22px;
    color: #767e9e;
    font-weight: 400;
    margin: 12px 0 0 0;
    text-align: justify;
    max-width: 22.0vw;
}

.our-service-info{
    margin-top: 3px;
    margin-left: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
}



.our-services-border {
    height: 6px;
    max-width: 102vw;
    background-color: #ffffff;
} 

/* Portfolio */

.portfolio {
    max-width: 102vw; 
    background-color: #2d303a;
}

.portfolio-content-area{
    margin-bottom: 20px;
}

p {
    font-family: "Lato";
    text-align: left;
}

.portfolio-title {
    padding: 6.8vw 0 2.8vw 4vw;
    letter-spacing: 0.6px;
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-weight: 900;
}

.portfolio-description {
    padding-left: 4vw;
    letter-spacing: -0.20px;
    word-spacing: 0.35px;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
}

.portfolio__navigation{
    padding: 1.1vw 0 2vw 4vw;
}

.portfolio-navigation {
    display: flex;
    list-style-type: none;
}

a {
    text-decoration: none;
}

.portfolio-navigation li:hover{
    background-color: #363946;
    border-color: #919bc2;
    transition: all .3s;
    color: #f7f0f0;
    
}

.portfolio-navigation li {
    height: 21px;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid #666d89;
    font-size: 12px;
    line-height: 22px;
    
    font-family: "Lato";
    font-weight: 400;
    text-align: center;
    margin-right: 8px;
}

.portfolio-navigation a{
    color: #767e9e;
    cursor: pointer; 
}

.button-active{
    color: #ffffff !important;
}

.button-all{
    width: 29px;
}

.button-web-design {
    width: 78px;
}
.button-graphic-design{
    width: 93px;
}
.button-artwork{
    width: 57px;
}

/* section with picture*/

.art-navigation{
    padding-bottom: 3vw;
    border-bottom: 6px solid #323746;
}

.art-colletion {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin: 3vw 2.4vw 0 2.4vw;
}

.art-colletion-img{
    width: 220px;
    height: 187px;
    background: #f06c64;
    margin: 10px;
    margin-bottom: 12px;  
}

.art-colletion-img:nth-child(13) {
	display: none;
}

.img-collection {
    width: 220px;
    height: 187px;
}

.img-collection:hover {

}

.art-colleting-active{
    border-color: red;
    border: 5px;
    z-index: 10;
    width: 220px;
    height: 187px; 
}

/* About us*/

.about {
    background-color: #f2f2f2;
    border-bottom: 6px solid #ffffff; 
}

.about-us {
    padding: 6.8vw 0 2.8vw 4vw;
    letter-spacing: 0.6px;
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-weight: 900;
}

.about-us-description {
    letter-spacing: -0.20px;
    word-spacing: 0.35px;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    text-align: justify; 
    margin-left: 4vw;   
    margin-right: 4vw;
}

.contacts {
    margin: 4.5vw 4vw 0 4vw;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}

.contact-box {
    min-height: 44.3vw;
    width: 300px; 
}

.contact-img-social:hover{
    cursor: pointer;
    opacity: 0.5;
}

.contact-name{
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-weight: 900;
    padding: 4px 0px 10px 0px;
    white-space: nowrap;
}

.contact-description{
    height: 6.7vw;
    max-Swidth: 29.9vw;
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-weight: 400;
    padding: 2px 0px 22px 0px;
    text-align: justify;   
}

.contact-link{
    display: flex;
    justify-content: space-between;
    width: 152px;
}

.form-content-area{
    max-width: 94vw;
    margin: 0 4vw 0 4vw;
}


.form {
    max-width: 1020px;
    margin: 0 auto;
    background-color: #f06c64;
    border-bottom: 6px solid #ea676b;
    padding-bottom: 30px;
}

p {
    font-family: "Lato";
    text-align: left;
}

.form__title{
    font-size: 30px;
    line-height: 18px;
    color: #f0d8d9;
    font-weight: 900;
    padding: 6.7vw 0px 2.8vw;
}

.form__description{
    font-size: 18px;
    line-height: 30px;
    color: #f0d8d9;
}

.layout-2-column{
    display: flex;
    padding-top: 4.6vw;
    flex-wrap: wrap;
    max-width: 94vw;
    justify-content: space-between;
}

.form__fill-array{
    display: flex;
    flex-direction: column;
}

textarea {
    width: 100%;
    height: 202px;
    border-radius: 0.5em;
    background-color: #d6564f;
    resize: none;
}

.button-submit{
    height: 38px;
    width: 80px;
    border-radius: 0.5em;
    background-color: #d6564f;
}

.form__fill-contact{
    padding-left: 20px;
}

.contact {
    padding-bottom: 11px;
    color: #f0d8d9;
    font-size: 18px;
    font-weight: 900;
}

.description{
    height: 107.2px;
    width: 300px;
    font-size: 12px;
    line-height: 22px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
    text-align: justify; 
    padding-bottom: 20px;
}

.from__filed{
    width: 50vw;
    height: 38px;
    border-radius: 5px;
    border: none;
    background-color: #d6564f;
    font-size: 12px;
    line-height: 22px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 400;
    text-align: justify;
    padding-left: 15px;
    margin-bottom: 16px;
}

.from__filed::placeholder {
    padding-left: 13px;
    font-size: 12px;
    line-height: 22px;
    font-weight: 400;
    color: #f48c8f;
  }

#subj_description {
    width: 50vw;
    height: 193px;
}

.form-text-area::placeholder{
    font-size: 12px;
    padding-top: 9px;
    letter-spacing: 0.5px;
  }

.button-submit{
    line-height: 22px;
    font-weight: 400;
    color: #f48c8f;
}

#message-block {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #0008;
    z-index: 10;
}

.black-background,
.black-background-horizontal,
#message-block.hidden {
    display: none;
}

#message {
    position: absolute;
    top: 50%;
    left: 50%;
    border: 2px solid black;
    border-radius: 15px;
    text-align: center;
    background-color: #f48c8f;
}

#close-btn {
    background-color: #f48c8f;
    font-weight: 900;
    cursor: pointer;
}

#message p{
    margin: 10px 20px 5px 20px;
}
.form-2-column{
    display: flex;
}

.ico-phone,
.ico-mail,
.ico-address{
    font-size: 12px;
    line-height: 22px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
    text-decoration: none;
    padding-left: 12px;
}

/* Footer  */

.footer{
    max-width: 1020px;
    min-height: 7.6vw;
    background-color: #2d303a;
    margin: 0 auto;     
}

.two-column{
    display: flex;
    justify-content: center;
    padding: 20px 0 20px 0;
}

.form-ico-contact{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.form-info-contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.copyright{
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 22px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
} 

.social{
    width: 152px;
    display: flex;
    justify-content: space-between;
}



@media (min-width: 1030px) {
    .arrowLeft {
      margin-top: 280px;
    }
}










@media (min-width: 768px) and (max-width: 1020px){
    



}