* {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
    background: black;
}

.wrapper {   
    margin: 0 auto;
    width: 1020px;
}

/* header */

.header {   
    margin-left: auto;
    margin-right: auto;
    height: 90px;
    background: #2d303a;
    display: flex;
}

.logo,
.header h1 {
    line-height: 6px;
    color: #ffffff;
    font-weight: 600;
    letter-spacing: -0.5px;
}
h1 {
    font-size: 25px;
    padding-top: 42px;
    padding-left: 40px;
    font-family: "Lato";
}

.navigation {
    display: flex; 
    margin-top: 39px; 
    margin-right: 39px;
    width: 373px;
    justify-content: space-between;  
}

li:hover{
    background-color: #45545b;
    border-radius: 100px;
    transition: all .3s;
}

li {
    list-style-type: none;
    letter-spacing: -0.4px;
}

.header nav a {
    font-size: 12px;
    text-decoration: none;
    color: #ffffff;
    font-family: "Lato";
}

.icon {
    font-size: 22px;
    color: #f06c64;
    padding-top: 31px;
}

.header__buttons {
    margin-left: auto;
    margin-right: 0;
}

.navigation-active {
    color: #f06c64 !important;
}

.dot-between-word {
    color: white;
    opacity: 0.2;
}

.header-block-colored {
    height: 5px;
    background-color: #323746;
}

/** slider **/

.iphone {
    height: 594px;
    background-color: #f06c64;
}

.slider-iphone {
    display: flex;
}

.slider-arrow-left {
    opacity: 0.2;
    padding-left: 42px;
    padding-top: 281px;
}

.slider-iphone-left {
    padding-top: 53px;
    padding-left: 54px;
    position: absolute;
}

.shadow-left{
    padding-top: 53px;
    padding-left: 54px;
}

.slider-iphone-right {
    margin-bottom: 26px;
    margin-left: 190px;
    transform: rotate(90deg);
    z-index: 2;
    position: relative;
}

.shadow-right{
    padding-top: 106px;
    transform: rotate3d(1, 1, 0, 180deg);
    position: absolute;
    margin-left: -267px;
    z-index: 1
}

.slider-arrow-right {
    opacity: 0.2;
    padding-right: 203px;
    padding-top: 232px;
    transform: rotate(180deg);
}

.slider-block-colored {
    height: 5px;
    background-color: #ea676b;   
}

.slider-arrow-left-link {
    cursor: pointer;
}

.slider-arrow-left-img:hover{
    border-radius: 50px;
    background-color: lavender;
    transition: all .5s;
}

/** our-services **/

.our-services {
    padding: 67px 28px 0px 40px;
    height: 427px;
    background-color: #f2f2f2;
    
}

.our-services-text{
    padding: 26px 0 45px 0;
    width: 939px;
    font-size: 19px;
    line-height: 31px;
    color: #767e9e;
    letter-spacing: -0.11px;
    text-align: justify;
}

.title-our-services{
    font-size: 30px;
    line-height: 22px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;   
    text-align: left;
    letter-spacing: 0.3px;
}

.our-service-info-img{
    display: flex;
    width: 940px;
    justify-content: space-between;
}

.our-service-3-columns-second{
    padding-top: 31px;
}

.our-services-content-head{
    height: 14.55px;
    font-size: 19px;
    line-height: 15px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;   
    text-align: left;
    letter-spacing: -0.3px;
}

.our-services-content-text{
    height: 65.45px;
    font-size: 13px;
    line-height: 22px;
    color: #767e9e;
    font-weight: 400;
    margin: 12px 0 0 0;
    text-align: justify;
    width: 220px;
}

.our-services-border {
    height: 6px;
    margin: auto;
    width: 1020px;
    background-color: #ffffff;
} 

/* Portfolio */

.portfolio {
    width: 1020px; 
    margin: 0 auto;
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
}

.portfolio-content-area{
    width: 940px;
    margin: 0 auto;
}

p {
    font-family: "Lato";
    text-align: left;
}

.portfolio-title {
    padding: 68px 0 28px 0;
    letter-spacing: 0.6px;
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-weight: 900;
}

.portfolio-description {
    letter-spacing: -0.20px;
    word-spacing: 0.35px;
    width: 940px;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-weight: 300;
}

.portfolio__navigation{
    padding: 11px 0 20px 0;
}

.portfolio-navigation {
    display: flex;
    list-style-type: none;
}

a {
    text-decoration: none;
}

.portfolio-navigation li:hover{
    background-color: #363946;
    border-color: #919bc2;
    transition: all .3s;
    color: #f7f0f0;
    
}

.portfolio-navigation li {
    height: 21px;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid #666d89;
    font-size: 12px;
    line-height: 22px;
    color: #767e9e; 
    font-family: "Lato";
    font-weight: 400;
    text-align: center;
    margin-right: 8px;
}

.button-all{
    border: 1px solid #ffffff !important;
    color: #ffffff !important;
    width: 29px;
}
.button-web-design {
    width: 78px;
}
.button-graphic-design{
    width: 93px;
}
.button-artwork{
    width: 57px;
}

/* section with picture*/

.art-navigation{
    height: 668px;
}

.art-colletion {
    margin: 0 auto;
    height: 618px;
    width: 940px;
	display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.art-colletion-img:nth-child(12) {
	display: none;
}

.img-collection {
    width: 220px;
    height: 187px;  
}

/* About us*/

.about {
    height: 728px;
    width: 1020px; 
    margin: 0 auto;
    background-color: #f2f2f2;
    border-bottom: 6px solid #ffffff; 
}

.about-us {
    padding: 68px 0 28px 0;
    letter-spacing: 0.6px;
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-weight: 900;
}

.about-us-description {
    height: 57px;
    letter-spacing: -0.20px;
    word-spacing: 0.35px;
    width: 940px;
    height: 57px;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-weight: 300; 
    text-align: justify;    
}

.contacts {
    margin-top: 46px;
    display: flex;
    justify-content: space-between;
}

.contact-box {
    height: 443px;
    width: 300px; 
}
.contact-name{
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-weight: 900;
    padding: 4px 0px 10px 0px;
    white-space: nowrap;
}

.contact-description{
    height: 67.6px;
    width: 299px;
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-weight: 400;
    padding: 2px 0px 22px 0px;
    text-align: justify;   
}

.contact-link{
    display: flex;
    justify-content: space-between;
    width: 152px;
}

.form-content-area{
    width: 940px;
    margin: 0 auto;
}


.form {
    width: 1020px;
    height: 647px; 
    margin: 0 auto;
    background-color: #f06c64;
    border-bottom: 6px solid #ea676b;
}

p {
    font-family: "Lato";
    text-align: left;
}

.form__title{
    font-size: 30px;
    line-height: 18px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
    padding: 67px 0px 28px;
}

.form__description{
    height: 57px;
    width: 940px;
    height: 57px;
    font-size: 18px;
    line-height: 30px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 300;
    text-align: left;
}

.layout-2-column{
    display: flex;
    padding-top: 46px;
}

.form__fill-array{
    width: 620px;
    height: 405px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

input {
    width: 620px;
    height: 38px;
    border-radius: 0.3em;
    background-color: #d6564f;
}

textarea {
    width: 100%;
    height: 202px;
    border-radius: 0.5em;
    background-color: #d6564f;
    resize: none;
}

.button-submit{
    height: 38px;
    width: 80px;
    border-radius: 0.5em;
    background-color: #d6564f;
}

.form__fill-contact{
    padding-left: 20px;
}

.contact {
    font-size: 18px;
    line-height: 18px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
    padding-bottom: 11px;
}

.description{
    height: 107.2px;
    width: 300px;
    font-size: 12px;
    line-height: 22px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
    text-align: justify; 
    padding-bottom: 20px;
}

.from__filed::placeholder {
    padding-left: 13px;
    font-size: 12px;
    line-height: 22px;
    font-weight: 400;
    color: #f48c8f;
  }

.form-text-area::placeholder{
    font-size: 12px;
    padding-top: 9px;
    letter-spacing: 0.5px;
  }

.button-submit{
    line-height: 22px;
    font-weight: 400;
    color: #f48c8f;
}

.form-2-column{
    display: flex;
}

.ico-phone,
.ico-mail,
.ico-address{
    font-size: 12px;
    line-height: 22px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
    text-decoration: none;
    padding-left: 12px;
}

/* Footer  */

.footer{
    height: 76px;
    width: 1020px;
    background-color: #2d303a;
    margin: 0 auto;     
}

.two-column{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.form-ico-contact{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.form-info-contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.copyright{
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 22px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
} 

.social{
    width: 152px;
    display: flex;
    justify-content: space-between;
}

